header {
  display: flex;
  background-color: black;
  color: white;
  width: 100%;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}

html {
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
  color: black;
  text-transform: uppercase;
  padding-right: 30px;
  vertical-align: middle;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  padding-top: 35px;
  font-size: 40px;
}

footer {
  font-family: "Seravek";
  height: 80px;
  clear: both;
}

section {
  color: white;
  font-size: 20px;
  padding: 5px;
  text-align: left;
  padding-left: 30px;
  line-height: 2em;
}

h3 {
  font-size: 25px;
}

a {
  text-decoration: none;
}

ul {
  font-family: "Seravek";
  font-size: 30px;
  list-style-type: none;
  padding-top: 3%;
  line-height: 2em;
}

li {
  margin-left: 23%;
  border: 1px solid white;
  width: 50%;
  color: black;
}

li:hover {
  transition: 0.4s;
  border-radius: 8px;
  background-color: #e8e8e8;
}

form {
  font-family: "Seravek";
}

input {
  border-radius: 7px;
  padding: 1px;
  padding-left: 5%;
  font-size: 15px;
  background-color: black;
  color: white;
  border: 3px solid white;
}

input:last-of-type {
  padding: 5px;
  border: 3px solid lime;

}

h4 {
  text-align: center;
  color: white;
}

input:hover, input:focus {
  background-color: white;
  color: black;
}

.item:nth-of-type(3) h3{
  color: white;
}

.item:nth-of-type(2) h3{
  color: white;
}

.title {
  display: inline-block;
  background-color: white;
  width: 100%;
  height: 170px;
  vertical-align: bottom;
  font-family: "Marker Felt";
  font-size: 25px;
}

.btn {
  font-family: "Seravek";
  color: black;
  width: 120px;
  height: 25px;
  background-color: white;
  text-align: center;
  margin-top: -10px;
  padding-top: 5px;
  border: 2px solid black;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: -10px -6px 0px black,
              10px 6px 0px black,
              -12px -8px 0px white,
              12px 8px 0px white;
}

.btn:hover {
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  background-color: red;
  color: white;
  font-weight: bold;
  box-shadow: -10px -6px 0px black,
              10px 6px 0px black,
              -12px -8px 0px red,
              12px 8px 0px red;
}

.qualities {
  font-family: "Seravek";
  display: inline-block;
  height: 600px;
  width: 100%;
  text-align: center;
}

.item {
  display: inline-block;
  width: 30%;
  padding-left: 2%;
  padding-top: 2%;
  margin-bottom: 2%;
  height: 80%;
  word-wrap: break-word;
  vertical-align: bottom;
  border: 1px solid black;
}

.item:nth-of-type(2) {
  margin-right: 25px;
}

.item:nth-of-type(3) section{
  margin-top: 17%;
}

.services {
  color: black;
  background-color: white;
  height: 750px;
  width: 100%;
  padding-top: 15px;
  text-align: center;
}

.reviews {
  width: 100%;
  height: 400px;
  text-align: center;
  padding-top: 15px;
  background-color: white;
  color: black;
}

.q-title {
  text-align: right;
  padding-right: 50px;
  text-shadow: -2px -2px 1px white;
  font-family: "Futura";
}

.s-title {
  text-shadow: -2px -2px 1px black;
  font-family: "Seravek";
}

.yarkii {
  font-family: "Chalkboard SE";
  padding-left: 40%;
  color: red;
  text-shadow: -37px -10px 0px orange,
                37px 10px 0px lime,
                -47px 0px 0px violet;
}

.design {
  padding-left: 20%;
  letter-spacing: 1em;
  font-family: "Ayuthaya";
  text-shadow: -1px -1px 0px black,
               -2px -2px 0px white;
}

#blink1 {
  -webkit-animation: blink1 2s linear infinite;
  animation: blink1 2s linear infinite;
}
@-webkit-keyframes blink1 {
  0% { color: rgba(34, 34, 34, 1); }
  50% { color: rgba(34, 34, 34, 0); }
  100% { color: rgba(34, 34, 34, 1); }
}
@keyframes blink1 {
  0% { color: rgba(34, 34, 34, 1); }
  50% { color: rgba(34, 34, 34, 0); }
  100% { color: rgba(34, 34, 34, 1); }
}

.speed {
  padding-top: 25%;
}

.r-title {
  text-align: right;
  padding-right: 50px;
  text-shadow: -2px -2px 1px black;
}

.lime {
  color: lime;
}

.logo {
  color: white;
  font-family: "Futura";
  font-size: 35px;
}

.feedback {
  display: inline-block;
  background-color: black;
  color: white;
  width: 100%;
  height: 550px;
  font-family: "Seravek";
}

.fb-title {
  font-family: "Seravek";
  text-align: center;
  padding-left: 30px;
  text-shadow: -2px -2px 1px white;
}

.inst {
  margin-right: 60px;
  padding-top: 64px;
  float: right;
}

.h4f {
  padding-left: 60px;
  padding-top: 20px;
}

.mail {
  float: right;
  font-size: 85px;
  margin-right: 40px;
  padding-top: 35px;
}

.alarm {
  color: white;
  float: left;
  padding-top: 60px;
  text-align: center;
  margin-left: 60%;
}

.logo:hover {
  transition: 0.4s;
  color: red;
}

.log {
  color: red;
}

.logo:hover .log {
  color: white;
  transition: 0.4s;
}

.item:hover {
  transition: 0.5s;
  border: 1px solid white;
  border-radius: 15px;
  box-shadow: 1px 1px 1px red,
              -1px -1px 1px red,
              -1px 1px 1px red,
              1px -1px 1px red;
}

.s-article {
  text-align: center;
  width: 60%;
  padding: 1%;
  border: 2px solid red;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 25px;
  font-family: "Seravek";
  text-transform: uppercase;
  color: black;
  margin-left: 17%;
  margin-top: 2%;
  border-top: none;
}

.s-article-2 {
  text-align: center;
  width: 60%;
  padding: 1%;
  border: 2px solid red;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 25px;
  font-family: "Seravek";
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  border-bottom: none;
  text-shadow: 1px 1px 0px black;
  margin-left: 17%;
}

.footer-l {
  float: left;
  margin-top: 90px;
  margin-left: 130px;
}

.love {
  font-family: "Marker Felt";
  float: left;
  clear: both;
  padding: 10px;
}

#first_name {
  margin: 10px;
  margin-left: 24%;
  width: 20%;
  height: 30px;
}

#last_name {
  margin: 10px;
  width: 20%;
  height: 30px;
}

#mail {
  margin: 10px;
  margin-left: 24%;
  width: 20%;
  height: 30px;
}

#phone {
  margin: 10px;
  width: 20%;
  height: 30px;
}

#message {
  color: white;
  margin-top: 10px;
  height: 100px;
  padding: 5px;
  font-size: 20px;
  background-color: black;
  border: 3px solid white;
  border-radius: 10px;
  width: 90%;
  margin-left: 5%;
}

#submit {
  margin-top: 10px;
  margin-right: 600px;
  width: 200px;
  height: 40px;
  float: right;
}

#message:hover, #message:focus {
  background-color: white;
  color: black;
}

.feedback h3 {
  text-align: center;
}

#submit:hover {
  background-color: white;
  color: black;
}

.contacts {
  display: inline-block;
  width: 100%;
  height: 250px;
  background-color: white;
  line-height: 3em;
}

.art-c {
  color: black;
  font-family: "Seravek";
  font-size: 30px;
  text-align: center;
}

.profile-div {
  display: flex;
  width: 100%;
}

.aside-profile {

}

.profile-main {
  
}
